/* Basic style */
* {
  box-sizing: border-box;
}
body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}
h1, h2, p, a {
  color: var(--primary)
}
li {
  font-size: 2em;
  display: inline-block;
  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;
    &:hover, &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties en stijlen */

a[href="#frontend"] {

}

.scale {
  animation: scale 0.5s 4;
}

@keyframes scale {
  0%, 50%, 100% {
    transform: scale(1);
  }

  25%, 75% {
    transform: scale(2);
  }
}



/* translate */

a[href="#and"] {

}

.translate {
  animation: translate 0.5s forwards;
}

@keyframes translate {
  0% {
    transform: translateX(0rem);
  }

  100% {
    transform: translateX(10rem);
  }
}


/* Shake */

.shake {
  animation: shake 0.5s 4;
}

@keyframes shake {
0%, 50%, 100% {
    transform: translateX(1rem);
  }

  25%, 75% {
    transform: translateX(-1rem);
  }
}


/* Sprint 5 - kleur */

@keyframes kleur {
  50% {
    color: #050840;
    background-color: aqua;
  }
}

.kleur {
  animation: kleur 1s;
}



/* Fix - textcontent */

[href="#fix"] {
  transition: all 1s ease;
}




/* The - mouse out */

@keyframes mouse-out {
  100% {
    transform: rotate(360deg);
  }
}

.mouse-out {
  animation: mouse-out 1s ease;
}


/* Flow - mouseup/mousedown */

@keyframes flow {
  50% {
    rotate: 180deg;
  }

  100% {
    rotate: 0deg;
  }
}

.flow {
  animation: flow 1s ease;
}



/* User - Key up */

@keyframes key-up {
  100% {
    background-color: red;
    color: white;
  }
}

.key-up {
  animation: key-up 1s ease;
}


/* Interface - keydown */

.interface {
  animation: interface 2s ease forwards;
}



@keyframes interface {
  0% {
    scale: 1;
  }
  30% {
    scale: 1.5;
  }
  40% {
    scale: 1.2;
  }
  60% {
    scale: 2;
  }
  70% {
    scale: 1.6;
  }
  100% {
    scale: 2.5;
  }
}


/* Events - scroll */

a[href="#events"] {
  --font-size: 16px;
  font-size: var(--font-size);
  overscroll-behavior: contain;
}




/* Interaction - mousemove */

a[href="#interaction"] {
  --X: 50%;
  --Y: 50%;

  background-image: radial-gradient(circle farthest-side at var(--X) var(--Y), blue 0%, transparent 100%)
}


/* User flow / mousemove */

.scaled {
  animation: scaling 0.3s ease;
}

@keyframes scaling {
  50% {
    scale: 1.4;
    rotate: 180deg;
  }
}